---
---
body {
    
}

#content {
    display: flex;
    height: calc(100% - 88px);
    width: 100%;
}

#site-title {
    color: white;
    font-size: 26pt;
    font-family: "Futura", "Futura-Medium", "Futura Medium", "Century Gothic", "CenturyGothic", "Apple Gothic", "AppleGothic", "URW Gothic L", "Avant Garde", sans-serif;
    text-decoration: none;
}

#header {
    height: 88px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-panel {
    width: 320px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #1A263A;
}

#right-panel {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

#directory {
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    height: 100%;
    font-size: 12pt;
    color: #888;
}

#directory-row {
    background-color: rebeccapurple;
    height: 44px;
    padding: 10px;
}

#title {
    font-size: 16pt;
    color: #819FC8;
    padding-bottom: 10px;
    line-height: 100%;
}

#subtitle {
    font-size: 12pt;
    color: #FFFFFF;
    line-height: 150%;
    white-space:nowrap;
    width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#divider {
    height: 1px;
    background-color: #aaa;
    margin-top: 8px;
}

#vert-divider {
    width: 1px;
    background-color: #aaa;
}

li {
    padding-left: 18px;
    padding-top: 8px;
}
