---
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='css/reset.css'>
    <link rel='stylesheet' href='css/main-page.css'>
    <link rel='stylesheet' href='css/maps.css'>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
</head>

<body>
    <div id="header">
        <p id="site-title">EVERY LAST MILE</p>
    </div>
    <div id="content">
        <div id="left-panel">
            <ul id="directory">
                {% for post in site.posts %}
                <li>
                    <a id="title" href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                    <div id="subtitle">
                        {{post.preview}}
                    </div>
                    <p>
                        <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
                    </p>
                    <div id="divider"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="vert-divider"></div>
        <div id="right-panel">
            <div id="map"></div>
        </div>
    </div>

    <script>
      mapkit.init({
        authorizationCallback: function(done) {
            done('eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjJCM1o4SkdXNDkifQ.eyJpc3MiOiJYSlBKUk1NNFAzIiwiaWF0IjoxNTkxMDI1NTYzLCJleHAiOjI1MjU3ODcxNjN9.5aCx4jmj22FVtWrST1q0R2nmKbpQBV4VhlHoAJMUexvsEYpZAipCSHe_wp4qGWMvbfvU737VMfrBnVS-LsqakA');
        }
      });

      var focus = {lat: -25.363, lng: 131.044};
      var title = "";
          {% for post in site.posts limit:1 %}
      focus.lat = {{post.latitude}};
      focus.lng = {{post.longitude}};
      title = "{{post.title}}";
          {% endfor %}

      var Cupertino = new mapkit.CoordinateRegion(
        new mapkit.Coordinate(focus.lat, focus.lng),
        new mapkit.CoordinateSpan(0.167647972, 0.354985255)
      );

      // Create the map and style it
      var map = new mapkit.Map("map");
      map.region = Cupertino;
      map.colorScheme = mapkit.Map.ColorSchemes.Dark;
      map.showsUserLocation = false;
      map.showsUserLocationControl = true;


      var posts = [];
      {% for post in site.posts %}
      posts.push({
          title: "{{post.title}}",
          preview: "{{post.preview}}",
          lat: {{post.latitude}},
          lng: {{post.longitude}},
          url: "{{site.baseurl}}{{post.url}}"
      });
      {% endfor %}

      for (i in posts) {
        // Grab the relevant info from the post
        let post = posts[i];
        let latLng = {
            lat: post.lat,
            lng: post.lng
        }
        title = post.title;

        // Create the callout
        const callout = {
          calloutElementForAnnotation: (annotation) => {
            let div = document.createElement('div');
            div.className = 'landmark';
            div.innerHTML = `<h1>${post.title}</h1><section><p class="phone">${post.preview}</p><p class="homepage"><a href="${post.url}">Read now</a></p></section>`;
            return div;
          }
        }

        // Create the annotation
        const coordinates = new mapkit.Coordinate(latLng.lat, latLng.lng);
        const annotation = new mapkit.MarkerAnnotation(coordinates, {
          color: '#C92237',
          title: post.title,
          subtitle: post.preview,
          callout: callout
        });

        map.addAnnotation(annotation);
      }

      map.annotations[0].selected = true;
    </script>
</body>

</html>