---
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='css/reset.css'>
    <link rel='stylesheet' href='css/main-page.css'>
    <link rel='stylesheet' href='css/maps.css'>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
</head>

<body>
    <div id="header">
        <p id="site-title">EVERY LAST MILE</p>
    </div>
    <div id="content">
        <div id="left-panel">
            <ul id="directory">
                {% for post in site.posts %}
                <li>
                    <a id="title" href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                    <div id="subtitle">
                        {{post.preview}}
                    </div>
                    <p>
                        <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
                    </p>
                    <div id="divider"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="vert-divider"></div>
        <div id="right-panel">
            <div id="map"></div>
        </div>
    </div>

    <script>
        var map;
        var currentInfoWindow = null;
        function initMap() {
            let mapStyle = [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ];

            var myLatLng = {lat: -25.363, lng: 131.044};
            var title = "";
                {% for post in site.posts limit:1 %}
            myLatLng.lat = {{post.latitude}};
            myLatLng.lng = {{post.longitude}};
            title = "{{post.title}}";
                {% endfor %}

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: myLatLng,
                styles: mapStyle
            });

            var posts = [];
            {% for post in site.posts %}
            posts.push({
                title: "{{post.title}}",
                preview: "{{post.preview}}",
                lat: {{post.latitude}},
                lng: {{post.longitude}},
                url: "{{site.baseurl}}{{post.url}}"
            });
            {% endfor %}

            var goldStar = {
                path: 'M15,31 C5.66666667,25.487991 1,20.1546577 1,15 C1,7.2680135 7.2680135,1 15,1 C22.7319865,1 29,7.2680135 29,15 C29,20.1546577 24.3333333,25.487991 15,31 Z M15,18 C17.209139,18 19,16.209139 19,14 C19,11.790861 17.209139,10 15,10 C12.790861,10 11,11.790861 11,14 C11,16.209139 12.790861,18 15,18 Z',
                fillColor: "#FFFFFF",
                fillOpacity: 0.8,
                scale: 0.75,
                strokeColor: "#FFFFFF",
                strokeWeight: 1
            }

            for (i in posts) {
                let post = posts[i];
                let latLng = {
                    lat: post.lat,
                    lng: post.lng
                }
                title = post.title;
                let marker = new google.maps.Marker({
                    position: latLng,
                    icon: goldStar,
                    map: map
                });

                let contentString = `<div class="landmark" style=""><h1>${post.title}</h1><section><p class="phone">${post.preview}</p><p class="homepage"><a href="${post.url}">Read now</a></p></section></div>`;

                let infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker.addListener('click', () => {
                    if (currentInfoWindow) {
                        currentInfoWindow.close();
                    }
                    infowindow.open(map, marker);
                    currentInfoWindow = infowindow;
                });
            }
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA63CNm-zvUpJSoCvKIofJjTJbMDQ3VglU&callback=initMap">
        </script>
</body>

</html>